
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="~/Home/Index" title="Перейти на главную"><span>Game</span>shop</a>
        </div>

    </header>
    <div id="wrapper">
        <div id="leftCol">
            <h3>О нас</h3> <br />
            (Возможно)Лучший в мире сайт по продажам видеоигр!
        </div>
    </div>
    <footer>
        <div id="footer" name="Admin">

        </div>
    </footer>
</body>
</html>