
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buy</title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <header>
        <div id="logo">
            <a href="~/Home/Index" title="Перейти на главную"><span>Game</span>shop</a>
        </div>
        <div id="menuHead">
            <a class="buttonA" style="width:72px;" href="~/Home/About">
                О нас
            </a>
        </div>
    </header>
    <div>
        <h3 style="margin-left:500px;">Оформление покупки</h3>
        <br />
        <form action="" method="post">
            
            <table>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td><input type="text" name="CharacteristicId" value="" /></td>
                    </tr>
                    <tr>
                        <td>ФИО</td>
                        <td><input type="text" name="NameOfUser" value="" /></td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td><input type="text" name="Addres" value="" /></td>
                    </tr>
                    <tr>
                        <td> Вы готовы оплатить покупку?</td>
                        <td><input type="checkbox" name="StatusOfOrder" value="" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Оформить покупку" /></td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>
    <footer>
        <div>
            Все права защищены
        </div>
    </footer>
</body>
</html>
